<div class="container flight-edit-container">
  <div class="row">
    <div class="col-9">
      <h3>Edit flight <strong>no. {{flight?.code}}</strong></h3>
    </div>
    <div class="col-3">
      <mat-icon class="float-right flight-edit-remove-button" (click)="removeFlight()">delete_forever</mat-icon>
    </div>
  </div>

  <app-flight-form #flightForm></app-flight-form>

  <div class="flight-edit-button-container">
    <div class="col text-right">
      <button mat-raised-button (click)="back()">BACK</button>
      <button mat-raised-button color="primary" (click)="editFlight()">SAVE</button>
    </div>
  </div>
</div>
