@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import './assets/styles/reset';

body {
  background-color: #e9ebee;
}

.toast-success {
  background-color: green;
}

.toast-error {
  background-color: red;
}

button {
  border-radius: 0;
}
